html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .todo__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .todo__form{
      width: 50%;
      display: flex;
  }
  .todo__input{
      padding: 6px;
      height: 30px;
      flex:1;
  }

  .todo__button{
      padding: 5px 10px;
      margin-left: 10px;
      border-radius: 3px;
      background-color: rgb(70, 120, 178);
      color: white;
  }

  .todo__list{
      width: 50%;
      padding: 0;
      list-style-type: none;
  }
  .todo__item{
      padding: 10px;
      border: 1px solid grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .delete img{
      width: 25px;
      height: 27px;
      cursor: pointer;
  }